<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	
	<!-- 指定spring的配置文件，默认从web根目录寻找配置文件，我们可以通过spring提供的classpath:前缀指定从类路径下寻找 -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>classpath:beans.xml</param-value>
	</context-param>
	
	
	<!-- 对Spring容器进行实例化 -->
	<listener>
	      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<!-- struts启用配置 -->
	<filter>
	      <filter-name>struts2</filter-name> 
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    
    
    <!-- 登录验证servlet配置 -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
      
    <!-- 用户注册servlet配置 -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    <!-- 上传图片servlet配置 -->
    <servlet>
        <servlet-name>UpPhotoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.UpPhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpPhotoServlet</servlet-name>
        <url-pattern>/UpPhotoServlet</url-pattern>
    </servlet-mapping> 
    
    <!-- 班级管理servlet配置 -->
    <servlet>
        <servlet-name>ClassInfoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.ClassInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassInfoServlet</servlet-name>
        <url-pattern>/ClassInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- 用户管理servlet配置 -->
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- 用户类型管理servlet配置 -->
    <servlet>
        <servlet-name>UserTypeServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.UserTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserTypeServlet</servlet-name>
        <url-pattern>/UserTypeServlet</url-pattern>
    </servlet-mapping>

    <!-- 阅览室管理servlet配置 -->
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.RoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>

    <!-- 座位管理servlet配置 -->
    <servlet>
        <servlet-name>SeatServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.SeatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeatServlet</servlet-name>
        <url-pattern>/SeatServlet</url-pattern>
    </servlet-mapping>

    <!-- 座位状态管理servlet配置 -->
    <servlet>
        <servlet-name>SeatStateServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.SeatStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeatStateServlet</servlet-name>
        <url-pattern>/SeatStateServlet</url-pattern>
    </servlet-mapping>

    <!-- 座位预约管理servlet配置 -->
    <servlet>
        <servlet-name>SeatOrderServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.SeatOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeatOrderServlet</servlet-name>
        <url-pattern>/SeatOrderServlet</url-pattern>
    </servlet-mapping>

    <!-- 选座管理servlet配置 -->
    <servlet>
        <servlet-name>SelectSeatServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.SelectSeatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectSeatServlet</servlet-name>
        <url-pattern>/SelectSeatServlet</url-pattern>
    </servlet-mapping>

    <!-- 举报管理servlet配置 -->
    <servlet>
        <servlet-name>JubaoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.JubaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JubaoServlet</servlet-name>
        <url-pattern>/JubaoServlet</url-pattern>
    </servlet-mapping>

    <!-- 奖惩管理servlet配置 -->
    <servlet>
        <servlet-name>JcServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.JcServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JcServlet</servlet-name>
        <url-pattern>/JcServlet</url-pattern>
    </servlet-mapping>

 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
